.form {
  background-color: $db2;
  display: grid;
  justify-items: center;
  .container {
    background-color: $db1;
    margin: 0 rem(16);
    padding: rem(42) rem(30) rem(36) rem(30);
    transition: all 300ms ease-in-out;
    @include breakpoint-up(medium) {
      max-width: rem(420);
    }
    @include breakpoint-up(large) {
      max-width: rem(860);
      padding: rem(50) rem(70) rem(40) rem(70);
      transform: translateY(35%);
    }
  }
  h2 {
    margin-top: 0;
    @include breakpoint-up(large) {
      font-size: $headerSize;
    }

    @include breakpoint-up(xlarge) {
      font-size: $headerSizeD;
    }
  }
  p {
    margin-bottom: rem(27);
    font-weight: $basedFW-7;
    @include breakpoint-up(large) {
      font-size: rem(15);
    }
  }
  form {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    @include breakpoint-up(large) {
      grid-template-columns: rem(480) rem(200);
      grid-gap: rem(30);
    }
    input {
      width: 100%;
      height: rem(47);
      border: none;
      border-radius: 50px;
      padding: 0 rem(27);
    }
    .btn {
      width: 100%;
      border: none;
      margin-bottom: 0;

      @include breakpoint-up(large) {
        margin-top: 0;
      }
    }
  }
}
