.intro {
  display: flex;
  flex-direction: column;
  background-color: $db2;

  @include breakpoint-up(medium) {
    background-color: $db1;
    padding-top: rem(20);
  }
  .container {
    background-color: $db1;
    padding-right: 0;
  }

  &__image {
    background-color: $db1;
    padding: 0;
    &::after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: rem(450);
      background-image: url(../images/illustration-intro.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/bg-curvy-mobile.svg);
      width: 100%;
      height: rem(140);
      background-repeat: no-repeat;
      background-position: 0% center;
      background-size: 110%;
      transform: translateY(240%) translateX(-53%);

      @include breakpoint-up(medium) {
        background-image: none;
      }
    }
  }
  &__text {
    display: grid;
    position: relative;
    color: $white;
    justify-items: center;
    text-align: center;
    padding: 0 rem(30);
    transform: translateY(-20%);
    z-index: 1;
    @include breakpoint-up(medium) {
      transform: translateY(0%);
      background-color: $db1;
      width: 100%;
      background-image: url(../images/bg-curvy-desktop.svg);
      background-repeat: no-repeat;
      background-position: center top;
    }

    @include breakpoint-up(xlarge) {
      background-position: center -120%;
    }
    h2 {
      color: $whiteHover;
      font-size: $headerSize;
      max-width: rem(280);
      transition: all 300ms ease-in-out;
      @include breakpoint-up(medium) {
        max-width: rem(400);
      }
      @include breakpoint-up(xlarge) {
        margin-top: rem(30);
        max-width: rem(700);
        font-size: $headerSizeD;
      }
    }
    p {
      font-size: $textSize;
      max-width: rem(280);
      transition: all 300ms ease-in-out;
      @include breakpoint-up(medium) {
        max-width: rem(400);
      }
      @include breakpoint-up(xlarge) {
        margin-top: rem(30);
        max-width: rem(550);
        font-size: $textSizeD;
      }
    }
  }
}
